:root {
	--container-width: 1450px;
	--container-padding: 15px;
	--font-family: "Roboto", sans-serif;
	--second-family: "Open Sans", sans-serif;
	--third-family: "Yellowtail", sans-serif;
	--dark-blue: #274C5B;
	--green: #7EB693;
	--yellow: #efd372;
	--gray: #D4D4D4;
	--white: #F9F8F8;
	--light-green: #EFF6F1;
	--dark-gray: #525C60;
	--page-bg: #F5F1F3;
	--green-text: #68a47f;
	
	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
	
}

